/* styles.css */
body {
    font-family: 'Helvetica Neue', sans-serif; /* Use a clean sans-serif font */
    background-color: #fff0d0; /* Light Yellow Background */
    color: #16242b; /* Dark Text Color */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

h1, h2, h3 {
    color: #16242b;  /* Dark Color for Headings */
    text-align: center; /* Center headings */
}

button {
    background-color: #16242b;  /* Dark Color for Buttons */
    color: #ffffff; /* Button Text Color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Add space around buttons */
}

button:hover {
    background-color: #0f1622; /* Darker shade for hover effect */
}

.stDataFrame {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add space above the table */
}

/* Additional styles for centering inputs */
.stInput, .stButton, .stTextArea, .stSelectbox {
    width: 100%; /* Set input width to 100% */
    max-width: 400px; /* Limit maximum width */
    text-align: center; /* Center text in inputs */
}

/* Center the logo and adjust its size */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 50px; /* Sets the height of the logo to 50px */
    margin-bottom: 10px; /* Adds some spacing below the logo */
}
